* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", "sans-serif";
    }
html{
    height: 100vh;
}

header{
    position: fixed;
    width: 100svw;
    height: 10svh;
    /* background-color: white; */
    background-color: rgba(45, 255, 255, 0.904);

    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: larger;
    font-weight: 700;
}
header a{
    text-decoration: none;
    color: black;
}

body{
    display:grid;
    place-content: center;
    background-color: whitesmoke;
    background-image: url('op2.jpg');
    height: 100%;
}

main{
    width: 80svw;
    height: 80svh;
    background-color: white;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border-radius: 30px;
    margin-top: 20px;
    overflow-y: scroll;
}
.questionBox{
    padding: 30px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.uploadBox{
    padding: 30px;
    width: 90%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    row-gap: 10px;
    overflow-y: scroll;
}
.resultBox{
    padding: 30px;
    width: 90%;
    display: none;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-size: larger;

    /* overflow-y: scroll; */
    row-gap: 20px;
}
.question{
    font-size: larger;
    font-weight: bold;
}

.button-holder{
    margin-top: 30px;
}
.count{
    margin-top: 30px;
}
.answerbutton{
    min-width: 50px;
    min-height: 20px;
}

button{
    border-radius: 20px;
    background-color: rgb(131, 24, 232);
    height: 40px;
    border-width: 0px;
    width: 50%;
    margin: 10px auto;

    color: aliceblue;
    font-size: larger;
    font-weight: 700;
}
input{
    height: 30px;
}

input[type="button"]{
    border-radius: 5px;
    border-width: 0px;
    height: 30px;
    font-family: 'poppins';
    background-color: rgb(168, 121, 212);
}
#secondanswer{
    margin-left: 20px;
}
.uploadmessage{
    width: 40svw;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

select.subject-select,
select.subject-select-number{
    height: 40px;
    border-radius: 5px;
    background-color: rgba(45, 255, 255, 0.31);
    border-width: 0px;
    /* text-align: center; */
}
