* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", "sans-serif";
    }
/* html{
    height: 100vh;
} */

header{
    width: 100svw;
    height: 44px;
    background-color: white;
    /* background-image: linear-gradient(blueviolet,pink); */

    display: flex;
    align-items: center;
    font-size: larger;
    font-weight: 700;
    gap: 40px;
    justify-content: flex-start;
    position: absolute;
    top: 0px;
}
.logo{
    width: 150px;
    height: 70%;
    /* margin-right: 65svw; */
}
header .abox{
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    gap: 40px;
    justify-content: flex-end;
    padding-right: 40px;
}
header .abox a{
    all: unset;
    position:relative;
    color: #784BA0;
}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("studimg3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

main{
    width: 90%;
    height: 80svh;
    background-color: white;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border-radius: 10px;
    margin-top: 20px;
    overflow-y: scroll;
    /* clip-path: inset(0% 5px 0% 0%); */

    -ms-overflow-style: none;  /*hide scrollbar IE and Edge */
    scrollbar-width: none;     /*hide scrollbar Firefox */
}
main::-webkit-scrollbar {
    display: none;/*hide scrollbar Chrome*/
  }

.questionBox{
    padding: 30px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.uploadBox{
    padding: 30px;
    width: 90%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    row-gap: 10px;
    overflow-y: scroll;
}
.resultBox{
    padding: 30px;
    width: 90%;
    display: none;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-size: larger;

    /* overflow-y: scroll; */
    row-gap: 20px;
}
.question{
    font-size: larger;
    font-weight: bold;
}

.button-holder{
    margin-top: 30px;
}
.count{
    position: absolute;
    bottom: 28px;
}
.answerbutton{
    min-width: 50px;
    min-height: 20px;
}

button{
    border-radius: 20px;
    background-color: rgb(131, 24, 232);
    height: 40px;
    border-width: 0px;
    width: 50%;
    margin: 10px auto;

    color: aliceblue;
    font-size: larger;
    font-weight: 700;
}
input{
    height: 30px;
}

input[type="button"]{
    border-radius: 5px;
    border-width: 0px;
    height: 30px;
    font-family: 'poppins';
    background-color: rgb(168, 121, 212);
    padding: 20px 50px 30px 50px;
    transition-duration: 0.5s;
}
input[type="button"]:hover{
    color: white;
    font-weight: 500;
}
#secondanswer{
    margin-left: 40px;
}
.uploadmessage{
    width: 40svw;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

select.subject-select,
select.subject-select-number{
    height: 40px;
    border-radius: 5px;
    background-color: #6068f840;
    border-width: 0px;
    /* text-align: center; */
}
