* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", "sans-serif";
    }
/* html{
    height: 100vh;
} */

header{
    width: 100svw;
    height: 44px;
    background-color: white;
    /* background-image: linear-gradient(blueviolet,pink); */

    display: flex;
    align-items: center;
    font-size: larger;
    font-weight: 700;
    gap: 40px;
    justify-content: flex-start;
    position: absolute;
    top: 0px;
}
.logo{
    width: 150px;
    height: 70%;
    /* margin-right: 65svw; */
}
header .abox{
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    gap: 40px;
    justify-content: flex-end;
    padding-right: 40px;
}
header .abox a{
    all: unset;
    position:relative;
    color: #784BA0;
}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../studimg3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

main{
    width: 80svw;
    height: 80svh;
    background-color: white;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border-radius: 30px;
    margin-top: 20px;
}
.questionBox{
    padding: 30px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.counsellorbox{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    overflow-y: scroll;
}
.selectbuttons{
    /* background-color: blue; */
    background-color: blueviolet;
    font-weight: 500;
    transition-duration: 0.5s;
    border-radius: 10px;
    height: 25px;
    text-align: center;
    line-height: 16px;
    margin-top: 10px;
    padding: 5px;
}
.selectbuttons:hover{
    font-weight: 600;
    color: white;
}

.counsbox{
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1.title{
    margin-bottom: 50px;
}